.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 8.5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 3rem;
  max-width: 3rem;
  display: flex;
  align-items: center;
}

.pagination__list > li:not(:last-child) {
  /* margin-right: 1rem; */
  margin-right: 3rem;
}
@media screen and (max-width: 748px) {
  .pagination__list > li:not(:last-child) {
    margin-right: 2rem;
  }
}

.pagination__item {
  /* color: rgb(var(--color-foreground)); */
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  border-radius: 50%;
  background-color: #231815;
  border: 1px solid #231815;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current {
  color: #231815;
  background-color: #fff;
}

.pagination__item--current::after {
  height: 0.1rem;
}

/* .pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
} */

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--prev::after,
.pagination__item--next::after {
  font-family: "futura-pt", sans-serif;
  font-style: italic;
  font-size: 12px;
  color: #231815;
  font-weight: 500;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination__item--next::after {
  content: "Prev";
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev {
  position: relative;
}

.pagination__item--prev::after {
  content: "Next";
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}