<section class="p-under p-contact">
  <div class="inner">
    <p class="sub-ttl">
      <img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/logo-mark.svg" alt="">
      Contact
    </p>
    <h2>お問い合わせ</h2>

    <p class="message">
      お問い合わせは、下記メールフォームにて承ります。<br>
      {% comment %} また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/">「よくある質問」ページ</a>にまとめておりますので、ぜひご覧ください。 {% endcomment %}
    </p>

    <div class="form_wrap">
      {% section 'contact-form' %}
    </div>

  </div>
</section>
{% render 'breadcrumbs' %}