<section class="p-under p-guide">
  <div class="inner">
    <p class="sub-ttl">
      <img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/logo-mark.svg" alt="">
      Guide
    </p>
    <h2>ご利用ガイド</h2>
    <p class="head-txt">あなたのプロジェクトに最適な、<br class="u-sp"><span>Scene</span>を<span>Select</span></p>
    <div class="block">
      <div class="box">
        <div class="left"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/icon-concept01.svg" alt=""></div>
        <div class="right">
          <h3>同日撮影素材は、割引価格で</h3>
          <p>
            同じ日やロケーションで撮影された映像素材が、特別な割引価格でお求めいただけます。
          </p>
        </div>
      </div><!-- /.box -->
      <div class="box">
        <div class="left"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/icon-concept02.svg" alt=""></div>
        <div class="right">
          <h3>純日本製の信頼性</h3>
          <p>
            すべてのコンテンツは100%日本製。<br>
            日本国内のプロフェッショナルによる確かな品質を、<br class="u-pc">
            安心してお使いいただけます。
          </p>
        </div>
      </div><!-- /.box -->
      <div class="box">
        <div class="left"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/icon-concept03.svg" alt=""></div>
        <div class="right">
          <h3>商用利用も安心のライセンス</h3>
          <p>
            提供する全ての映像は商用利用可能なライセンス付き。あなたのビジネスやプロジェクトに自由にお使いいただけます。
          </p>
        </div>
      </div><!-- /.box -->
      <div class="box">
        <div class="left"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/icon-concept04.svg" alt=""></div>
        <div class="right">
          <h3>いつでも再ダウンロード自由</h3>
          <p>
            購入したコンテンツは無期限で再ダウンロード可能。<br>
            どこにいても、いつでも必要な時にアクセスできます。
          </p>
        </div>
      </div><!-- /.box -->
    </div><!-- /.block -->

    <div class="tab">
      <ul class="tab_menu">
        <div class="tab-menu-wrap"><li class="tab_menu-item is-active" data-tab="01">商品・ご注文について</li></div>
        <div class="tab-menu-wrap"><li class="tab_menu-item" data-tab="02">お支払い・返金について</li></div>
        <div class="tab-menu-wrap"><li class="tab_menu-item" data-tab="03">その他</li></div>
      </ul>
      <div class="tab_panel">
        <div class="tab_panel-box box01 is-show" data-panel="01">
          <div class="tab__panel-text">
            <h3>ダウンロードまでの流れ</h3>
            <div class="flex">
              <div class="box">
                <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/p-guide_flowimg01.png?v=1717988304" alt=""></div>
                <p class="ttl">素材をカートへ追加</p>
                <p class="txt">
                  キーワード検索・カテゴリー・新着動画・人気ランキング・同日素材タグ等から動画素材を検索することができます
                </p>
              </div>
              <div class="box">
                <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/p-guide_flowimg02.png?v=1717988304" alt=""></div>
                <p class="ttl">注文情報の入力・決済</p>
                <p class="txt">
                  お客様情報を入力し、決済をしてください。各種クレジットカードにてお支払い可能です
                </p>
              </div>
              <div class="box">
                <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/p-guide_flowimg03.png?v=1717988304" alt=""></div>
                <p class="ttl">ダウンロード</p>
                <p class="txt">
                  マイページ又は注文完了後の通知メールからダウンロードリンクが提供されます
                </p>
              </div>
            </div>
            <h3>料金について</h3>
            <p>
              動画素材1本あたりの明瞭な価格設定で、サブスクリプションフリーの買い切りモデルを採用しています。<br>
              <br>
              【同日撮影のセット購入における割引について】<br>
              同日撮影の動画素材を複数購入される場合、カート画面の合計金額から2,000円*の割引が適用となりお得にお買い求めいただけます。<br>
              *割引額は予告なく変更になる場合があります。予めご了承ください。
            </p>
            <h3>使用できる用途例</h3>
            <p>
              購入された動画素材は商用・個人問わず下記のような様々なシーンでご利用いただけます。<br>
              <br>
              CM・VP・MV・映画及び番組制作・WEBサイト・広告・マーケティングキャンペーン・企業プレゼンテーション・モバイルアプリケーション・ソーシャルメディア等
            </p>
            <h3>使用にあたっての禁止行為</h3>
            <p>
              ・わいせつ若しくは公序良俗に反する内容での使用<br>
              ・ロゴ、サービスマーク、その他商標、意匠等の権利が発生するものへの使用<br>
              ・風俗産業、ポルノ、アダルトコンテンツ、出会い系サイト他それらに準じるものでの使用<br>
              ・暴力団員による不当な行為の防止等に関する法律第２条で定義される暴力団、指定暴力団、指定暴力団連合、暴力団員の他、暴力団関係企業、暴力団準構成員、総会屋若しくは社会運動・政治運動等標ぼうゴロ又はこれらに準ずる者（以下「反社会的勢力」といいます。）に関連する使用<br>
              ・被写体が特定の営業、商品若しくはサービスを利用等しているような印象を与える使用<br>
              ・被写体が特定の宗教・政党（政治）・思想（団体）等に所属・賛否しているような印象を与える使用<br>
              ・虚偽、誤認惹起、詐欺、中傷、その他違法な内容又は文脈においてコンテンツ又は被写体を利用する行為<br>
              ・その他、前各号に準じ、又は当社が不適切と認める使用
            </p>
            <h3>ダウンロードについて</h3>
            <p>
              購入後、マイページまたは注文完了後の通知メールからダウンロードリンクが提供されます。<br>
              購入された動画素材は、無期限で再ダウンロード可能です。<br>
              ダウンロードいただいた素材は、使用許諾の範囲内で何度でもお使いいただけ、加工も可能です。
            </p>
            <h3>サンプル動画について</h3>
            <p>
              サンプル動画はレイアウトや構成といった準備・確認目的にのみ使用でき、本使用にはご利用いただけません。<br>
              ウォーターマークが入っており、画質・サイズは故意に小さくして本来の用途には使用できないようになっています。<br>
              不正な使用が発覚した場合は、利用規約違反及び著作権侵害となり、別途違約金又は損害賠償金を請求いたしますので、十分にご注意ください。
            </p>
            <h3>ご注文内容の変更について</h3>
            <p>
              原則として、ご注文内容の変更は受け付けておりません。<br>
              決済時に十分ご確認の上決済をしてください。
            </p>
            <h3>ご注文後にメールが届いていない場合</h3>
            <p>
              当サイトからのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。<br>
              <br>
              ◼ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
              ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
              ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。<br>
              <br>
              ◼受信拒否の設定をされていませんか？<br>
              ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
              設定をご確認いただき、受信先を指定されている場合は、「info@sceneselect.xyz」からのメールを受信ドメインにご登録ください。
            </p>
          </div><!-- /.tab__panel-text -->
        </div><!-- /.tab_panel-box box01 -->
        <div class="tab_panel-box box02" data-panel="02">
          <div class="tab_panel-text">
            <h3>お支払い方法について</h3>
            <p>
              クレジットカードのみご利用頂けます。商品注文時にカード情報を安全に入力してください。<br>
              個人用、法人用に関わらず登録者と名義が異なる場合もご利用が可能です。<br>
              <br>
              【ご利用いただけるクレジットカード】<br>
              VISA/MasterCard/American Express/JCB
            </p>
            <h3>領収書の発行について</h3>
            <p>
              注文完了メールに領収書のダウンロードリンクを設置しております。<br>
              リンクをクリックすると領収書が表示されます。ここからPDF形式でダウンロードし、必要に応じて印刷してください。<br>
              尚、領収書はメールでのみ提供しており、郵送での発送は行なっておりません。
            </p>
            <h3>返金ポリシー</h3>
            <p>
              本サービスでは、以下の条件に基づいて動画素材の返金を実施します。購入されたコンテンツが以下のいずれかの条件に該当する場合、<br>
              購入日から30日以内に返金を申請することができます。<br>
              <br>
              ◼返金対象<br>
              商品説明の不一致 - 購入された商品が事前の記載説明と著しく異なる場合。<br>
              品質の問題 - 商品の品質が著しく粗悪である場合。<br>
              ダウンロード不可能 - 技術的な不具合により購入された商品をダウンロードできない場合。<br>
              一時的なサーバーエラー、回線のエラー等により、重複購入等正常でない決済が行われた場合。<br>
              返金を希望される場合は、お問い合わせフォームより必要事項を記入し、送信してください。<br>
              <br>
              ◼返金非対象<br>
              心変わりによるものや、商品に興味が無くなった場合。<br>
              ダウンロード後に商品が必要なくなった場合。<br>
              間違って商品を購入した場合。<br>
              期待していた商品と異なる場合。<br>
              商品に対する専門知識がなく返金を希望する場合。<br>
              単純に商品を返品したい場合。<br>
              商品が削除され、商品へアクセスできなくなった場合。<br>
              <br>
              ◼返金方法<br>
              返金は、購入時に使用されたカード会社を通して返金処理を行います。<br>
              返金の期日はカード会社の規定に準じます。
            </p>
          </div><!-- /.tab__panel-text -->
        </div><!-- /.tab_panel-box box02 -->
        <div class="tab_panel-box box03" data-panel="03">
          <div class="tab_panel-text">
            <h3>ライセンスについて</h3>
            <p>
              動画素材は、購入者のみが使用権を有します。購入者（以下「ユーザー」という）以外への譲渡や再配布及び販売は強く禁止されています。<br>
              <br>
              ただし、下記の場合は例外です。<br>
              購入者がその顧客（以下「クライアント」という）のために制作する成果物において使用する場合、クライアントに当該制作物の中でのみで使用することができます。また、購入者がコンテンツを使用した制作物の制作を業務委託先に委託する場合、会員は、当該業務委託先に委託を受けた制作物の中でのみコンテンツを加工させることができます。
            </p>
            <h3>クレジット表記について</h3>
            <p>
              当サイトで提供されるコンテンツに関して、特にクレジット表記は必要ありません。すべてのコンテンツは完全にライセンスがクリアされており、追加の表記無しでご利用いただけます。
            </p>
            <h3>規約違反行為</h3>
            <p>
              ユーザーが本ライセンス契約に違反した場合、ユーザーは、当社に対し、違反行為に該当する素材1点につき10万円を違約金として支払うものとします。但し、当社が被った損害金額が10万円を超過した場合は、超過分を請求できるものとします。
            </p>
            <h3>会員登録について</h3>
            <p>
              「アカウントを作成する」を選択し、お客様の情報を入力していただきます。<br>
              入力内容をご確認のうえ「作成する」を押していただきますと、会員登録が完了となります。<br>
              その後「info@sceneselect.xyz」よりお客様のご登録されたメールアドレス宛てに登録完了メールが送信されます。<br>
              登録した、会員情報並びに本サービスの提供を受ける権利について第三者に譲渡・貸与等はお控えください。
            </p>
            <h3>マイページについて</h3>
            <p>
              会員登録を頂いたユーザーはマイページにて以下の機能を提供しています。<br>
              <br>
              ◼ユーザー情報の確認・変更<br>
              メールアドレスやパスワード、連絡先情報の更新を行うことが可能です。<br>
              <br>
              ◼注文履歴の確認<br>
              過去の注文履歴を一覧で確認できます。<br>
              <br>
              ◼再ダウンロード<br>
              購入された動画素材は、マイページより再ダウンロード可能です。<br>
              ダウンロードの期限は無期限です。<br>
              <br>
              ◼︎お気に入り登録について<br>
              会員様は、ログイン状態で商品ページ内のハートマークをタップすることで、気に入った商品を登録しておくことができます。 登録した商品は、マイページ内の「お気に入りアイテム」からまとめて確認していただけます。<br>
              {% comment %} <br>
              ◼領収書の再発行？<br>
              テキスト<br>
              テキスト<br>
              テキスト {% endcomment %}
            </p>
          </div><!-- /.tab__panel-text -->
        </div><!-- /.tab_panel-box box02 -->
      </div><!-- /.tab_panel -->
    </div><!-- /.tab -->

  </div>
</section>
{% render 'breadcrumbs' %}