<section class="p-under p-policy">
  <div class="inner">
    <p class="sub-ttl">
      <img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/logo-mark.svg" alt="">
      Terms of service
    </p>
    <h2>利用規約</h2>

    <div class="block"><p>株式会社Cap Works（以下，「当社」といいます。）が提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。<br>ご利用の皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p></div>

    <div class="block">
      <h3>第1条（適用）</h3>
      <p>
        本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br>
        当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下,「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。<br>
        本規約の定めが前項の個別規定の定めと矛盾する場合には，個別規定において特段の定めなき限り，個別規定の定めが優先されるものとします。
      </p>
    </div>

    <div class="block">
      <h3>第2条（利用登録）</h3>
      <p>
        本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれに対する承認を登録希望者に通知することによって，利用登録が完了するものとします。<br>
        当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。<br>
        ・利用登録の申請に際して虚偽の事項を届け出た場合<br>
        ・本規約に違反したことがある者からの申請である場合<br>
        ・その他，当社が利用登録を相当でないと判断した場合<br>
      </p>
    </div>

    <div class="block">
      <h3>第3条（ユーザーIDおよびパスワードの管理）</h3>
      <p>
        ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを管理するものとします。<br>
        ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。<br>
        ユーザーID及びパスワードが第三者に使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。
      </p>
    </div>

    <div class="block">
      <h3>第4条（売買契約の特記事項）</h3>
      <p>
        （動画素材の使用権限）<br>
        購入された動画素材は、商用・私用問わず様々なプロジェクトに使用可能です。ただし、ユーザーのみが使用権を有します。ユーザー以外への譲渡や再配布及び販売は強く禁止されています。<br>
        <br>
        ただし、下記の場合は例外です。<br>
        ユーザーがその顧客（以下「クライアント」という）のために制作する成果物において使用する場合、クライアントに当該制作物の中でのみで使用することができます。また、購入者がコンテンツを使用した制作物の制作を業務委託先に委託する場合、会員は、当該業務委託先に委託を受けた制作物の中でのみコンテンツを加工させることができます。
      </p>
      <p>
        （動画素材の割引とセット販売）<br>
        同日撮影された素材またはシリーズとして関連する素材をセットで購入する際には、割引が適用される場合があります。割引額は、カート画面の合計金額よりご確認いただけます。<br>
        ※割引額は予告なく変更になる可能性があります。予めご了承ください。
      </p>
      <p>
        （クレジット表記）<br>
        当サイトで提供されるコンテンツに関して、特にクレジット表記は必要ありません。すべてのコンテンツは完全にライセンスがクリアされており、追加の表記無しでご利用いただけます。
      </p>
      <p>
        （使用できる用途例）<br>
        CM・VP・MV・映画及び番組制作・WEBサイト・広告・マーケティングキャンペーン・企業プレゼンテーション・モバイルアプリケーション・ソーシャルメディア等
      </p>
    </div>

    <div class="block">
      <h3>第5条（動画素材の品質保証返品）</h3>
      <p>
        本サービスにおいて提供される動画素材は、指定された品質基準に従っています。動画素材が破損しているか、説明と著しく異なる場合に限り、購入後一定期間内での返品や交換を受け付けます。返品や交換の条件と手続きについては、別途定める返金ポリシーに従います。
      </p>
    </div>

    <div class="block">
      <h3>第6条（禁止事項）</h3>
      <p>
        ユーザーは，本サービスの利用にあたり，以下の行為をしてはならないものとします。<br>
        <br>
        ・法令または公序良俗に反する内容での使用。<br>
        ・ロゴ、サービスマーク、商標、意匠などの知的財産権を侵害する使用。<br>
        ・風俗産業、ポルノ、アダルトコンテンツ、出会い系サイトその他類似の目的での使用。<br>
        ・反社会的勢力やその関連組織および個人に関連する使用。<br>
        ・被写体が特定の営業、商品、サービス、宗教、政治団体等に所属しているかのような誤認を招く使用。<br>
        ・虚偽、誤認を惹起する、詐欺、中傷を含む違法な内容での使用。<br>
        ・当社のサーバーやネットワーク機能を破壊、妨害する行為。<br>
        ・当社のサービスによって得られた情報を無断で商業的に利用する行為。<br>
        ・当社の運営を妨害する行為や不正アクセスを試みる行為。<br>
        ・他のユーザーの個人情報を無断で収集、蓄積する行為。<br>
        ・他のユーザーに成りすます行為。<br>
        ・当社のサービスを通じて反社会的勢力に利益を供与する行為。<br>
        ・当社が不適切と認めるその他の行為。
      </p>
    </div>

    <div class="block">
      <h3>第7条（返金ポリシー）</h3>
      <p>
        本サービスでは、以下の条件に基づいて動画素材の返金を実施します。購入されたコンテンツが以下のいずれかの条件に該当する場合、<br>
        購入日から30日以内に返金を申請することができます。<br>
        ◼返金対象<br>
        ・商品説明の不一致 - 購入された商品が事前の記載説明と著しく異なる場合。<br>
        ・品質の問題 - 商品の品質が著しく粗悪である場合。<br>
        ・ダウンロード不可能 - 技術的な不具合により購入された商品をダウンロードできない場合。<br>
        ・一時的なサーバーエラー、回線のエラー等により、重複購入等正常でない決済が行われた場合。<br>
        返金を希望される場合は、お問い合わせフォームより必要事項を記入し、送信してください。<br>
        <br>
        ◼返金非対象<br>
        ・心変わりによるものや、商品に興味が無くなった場合。<br>
        ・ダウンロード後に商品が必要なくなった場合。<br>
        ・間違って商品を購入した場合。期待していた商品と異なる場合。<br>
        ・商品に対する専門知識がなく返金を希望する場合。<br>
        ・単純に商品を返品したい場合。商品が削除され、商品へアクセスできなくなった場合。<br>
        <br>
        ◼返金方法<br>
        返金は、購入時に使用されたカード会社を通して返金処理を行います。<br>
        返金の期日はカード会社の規定に準じます。
      </p>
    </div>

    <div class="block">
      <h3>第8条（利用制限および登録抹消）</h3>
      <p>
        当社は，以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。<br>
        <br>
        ・本規約のいずれかの条項に違反した場合<br>
        ・登録事項に虚偽の事実があることが判明した場合<br>
        ・決済手段として当該ユーザーが届け出たクレジットカードが利用停止となった場合<br>
        ・料金等の支払債務の不履行があった場合<br>
        ・当社からの連絡に対し，一定期間返答がない場合<br>
        ・本サービスについて，最終の利用から一定期間利用がない場合<br>
        ・その他，当社が本サービスの利用を適当でないと判断した場合<br>
        <br>
        当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。
      </p>
    </div>

    <div class="block">
      <h3>第9条（退会）</h3>
      <p>
        ユーザーは，所定の退会手続により，本サービスから退会できるものとします。
      </p>
    </div>

    <div class="block">
      <h3>第10条（保証の否認および免責事項）</h3>
      <p>
        当社は,本サービスに事実上または法律上の瑕疵（安全性,信頼性,正確性,完全性,有効性,特定の目的への適合性,セキュリティなどに関する欠陥,エラーやバグ,権利侵害などを含みます。）がないことを保証するものではありません。<br>
        <br>
        当社は,本サービスによってユーザーに生じたあらゆる損害について,一切の責任を負いません。ただし,本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合,この免責規定は適用されませんが,この場合であっても,当社は,当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し,または予見し得た場合を含みます。）について一切の責任を負いません。<br>
        <br>
        当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
      </p>
    </div>

    <div class="block">
      <h3>第11条（サービス内容の変更等）</h3>
      <p>
        当社は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。
      </p>
    </div>

    <div class="block">
      <h3>第12条（利用規約の変更）</h3>
      <p>
        当社は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。
      </p>
    </div>

    <div class="block">
      <h3>第13条（個人情報の取扱い）</h3>
      <p>
        当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。
      </p>
    </div>

    <div class="block">
      <h3>第14条（通知または連絡）</h3>
      <p>
        ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。当社は,ユーザーから,当社が別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。
      </p>
    </div>

    <div class="block">
      <h3>第15条（権利義務の譲渡の禁止）</h3>
      <p>
        ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。
      </p>
    </div>

    <div class="block">
      <h3>第16条（準拠法・裁判管轄）</h3>
      <p>
        本規約の解釈にあたっては，日本法を準拠法とします。なお，本サービスに関しては，国際物品売買契約に関する国際連合条約の適用を排除するものとします。<br>
        本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄裁判所とします。
      </p>
    </div>

  </div>
</section>
{% render 'breadcrumbs' %}