<section class="p-under p-faq">
  <div class="inner">
    <p class="sub-ttl">
      <img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/logo-mark.svg" alt="">
      FAQ
    </p>
    <h2>よくある質問</h2>

    <div class="faq_wrap">
      <div class="block">
        <div class="qa-list mts">
          <dl class="qa">
            <dt>動画素材の検索方法にはどのようなものがありますか</dt>
            <dd>
              <p>
                キーワード検索・カテゴリー・新着動画・人気ランキング・同日素材タグ等から動画素材を検索することができます
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>購入した素材はどんなことに使用できますか</dt>
            <dd>
              <p>
                購入された動画素材は商用・個人問わず下記のような様々なシーンでご利用いただけます。<br>
                CM・VP・MV・映画及び番組制作・WEBサイト・広告・マーケティングキャンペーン・企業プレゼンテーション・モバイルアプリケーション・ソーシャルメディア等
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>定額プランはありますか。</dt>
            <dd>
              <p>
                現在定額プランの提供していません。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>ライセンスについて教えてください</dt>
            <dd>
              <p>
                動画素材は、購入者のみが使用権を有します。購入者（以下「ユーザー」という）以外への譲渡や再配布及び販売は強く禁止されています。<br>
                <br>
                ただし、下記の場合は例外です。<br>
                購入者がその顧客（以下「クライアント」という）のために制作する成果物において使用する場合、クライアントに当該制作物の中でのみで使用することができます。また、購入者がコンテンツを使用した制作物の制作を業務委託先に委託する場合、会員は、当該業務委託先に委託を受けた制作物の中でのみコンテンツを加工させることができます。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>クレジット表記について教えてください。</dt>
            <dd>
              <p>
                当サイトで提供されるコンテンツに関して、特にクレジット表記は必要ありません。すべてのコンテンツは完全にライセンスがクリアされており、追加の表記無しでご利用いただけます。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>ダウンロード方法について教えてください</dt>
            <dd>
              <p>
                購入後、マイページまたは注文完了後の通知メールからダウンロードリンクが提供されます。<br>
                購入された動画素材は、無期限で再ダウンロード可能です。<br>
                ダウンロードいただいた素材は、使用許諾の範囲内で何度でもお使いいただけ、加工も可能です。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>購入後に動画を再ダウンロードすることはできますか？</dt>
            <dd>
              <p>
                マイページより再ダウンロード可能です。<br>
                尚、ダウンロードの期限は無期限です。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>サンプル動画のダウンロードについて教えてください</dt>
            <dd>
              <p>
                サンプル動画は無料でダウンロード可能です。各動画ページにダウンロードリンクが設置されています。<br>
                <br>
                サンプル動画はレイアウトや構成といった準備・確認目的にのみ使用でき、本使用にはご利用いただけません。<br>
                ウォーターマークが入っており、画質・サイズは故意に小さくして本来の用途には使用できないようになっています。<br>
                不正な使用が発覚した場合は、利用規約違反及び著作権侵害となり、別途違約金又は損害賠償金を請求いたしますので、十分にご注意ください。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>同日撮影された素材の割引はどのように適用されますか？</dt>
            <dd>
              <p>
                カート画面の合計金額にて割引が適用となります。<br>
                ※割引額は予告なく変更になる場合があります。予めご了承ください。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>領収書の発行は可能ですか。</dt>
            <dd>
              <p>
                可能です。<br>
                注文完了メールに領収書のダウンロードリンクを設置しております。<br>
                リンクをクリックすると領収書が表示されます。ここからPDF形式でダウンロードし、必要に応じて印刷してください。<br>
                尚、領収書はメールでのみ提供しており、郵送での発送は行なっておりません。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>パスワードを忘れました</dt>
            <dd>
              <p>
                パスワードの再設定が可能です。
                <a href="/account/">ログインページ</a>の「パスワードをお忘れですか」というボタンをクリックして再設定をしてください。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>購入履歴はどこで確認できますか</dt>
            <dd>
              <p>
                マイページで過去の注文履歴を一覧で確認できます。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>支払い方法は何がありますか？</dt>
            <dd>
              <p>
                クレジットカードのみご利用頂けます。商品注文時にカード情報を安全に入力してください。<br>
                個人用、法人用に関わらず登録者と名義が異なる場合もご利用が可能です。<br>
                <br>
                【ご利用いただけるクレジットカード】<br>
                VISA/MasterCard/American Express/JCB
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>返金ポリシーについて教えてください</dt>
            <dd>
              <p>
                本サービスでは、以下の条件に基づいて動画素材の返金を実施します。購入されたコンテンツが以下のいずれかの条件に該当する場合、<br>
                購入日から30日以内に返金を申請することができます。<br>
                <br>
                ◼返金対象<br>
                商品説明の不一致 - 購入された商品が事前の記載説明と著しく異なる場合。<br>
                品質の問題 - 商品の品質が著しく粗悪である場合。<br>
                ダウンロード不可能 - 技術的な不具合により購入された商品をダウンロードできない場合。<br>
                一時的なサーバーエラー、回線のエラー等により、重複購入等正常でない決済が行われた場合。<br>
                返金を希望される場合は、お問い合わせフォームより必要事項を記入し、送信してください。<br>
                <br>
                ◼返金非対象<br>
                心変わりによるものや、商品に興味が無くなった場合。<br>
                ダウンロード後に商品が必要なくなった場合。<br>
                間違って商品を購入した場合。<br>
                期待していた商品と異なる場合。<br>
                商品に対する専門知識がなく返金を希望する場合。<br>
                単純に商品を返品したい場合。<br>
                商品が削除され、商品へアクセスできなくなった場合。<br>
                <br>
                ◼返金方法<br>
                返金は、購入時に使用されたカード会社を通して返金処理を行います。<br>
                返金の期日はカード会社の規定に準じます。
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt>注文したのですが、注文確認のメールが届きません</dt>
            <dd>
              <p>
                当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。
              </p>
              <p>
                当サイトからのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。<br>
                <br>
                ◼ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？<br>
                ・特に@以降の間違いが多くございます。「@***.ne.jp」<br>
                ・ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。<br>
                <br>
                ◼受信拒否の設定をされていませんか？<br>
                ・特にスマートフォンにおいて、受信先の設定をされている場合がございます。<br>
                設定をご確認いただき、受信先を指定されている場合は、「info@sceneselect.com」からのメールを受信ドメインにご登録ください。<br>
              </p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

  </div>
</section>