<section class="p-under p-terms">
  <div class="inner">
    <p class="sub-ttl">
      <img src="https://cdn.shopify.com/s/files/1/0590/1067/8863/files/logo-mark.svg" alt="">
      Act on specified commercial transactions
    </p>
    <h2>特定商取引法に基づく表記</h2>
    <table>
      <tr>
        <th>販売業者</th>
        <td>株式会社CapWorks</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>樽井 克哉</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒532-0011 <br class="u-sp">大阪市淀川区西中島3-9−13 NLC新大阪8号館401号</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>06-6606-9889</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>info@sceneselect.xyz</td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>動画素材</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>各商品ごとに表示</td>
      </tr>
      <tr>
        <th>商品代金以外の<br class="u-sp">必要料金</th>
        <td>消費税</td>
      </tr>
      <tr>
        <th>送料</th>
        <td>不要</td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td>クレジットカード（VISA/MasterCard/American Express/JCB）</td>
      </tr>
      <tr>
        <th>申し込みの<br class="u-sp">有効期限</th>
        <td>
          購入手続き完了時に支払いが確定します
        </td>
      </tr>
      <tr>
        <th>商品の引渡時期</th>
        <td>原則として購入手続き完了後にダウンロード可能</td>
      </tr>
      <tr>
        <th>返金について</th>
        <td>
          本サービスでは、以下の条件に基づいて動画素材の返金を実施します。購入されたコンテンツが以下のいずれかの条件に該当する場合、購入日から30日以内に返金を申請することができます。<br>
          <br>
          ◼返金対象<br>
          商品説明の不一致 - 購入された商品が事前の記載説明と著しく異なる場合。<br>
          品質の問題 - 商品の品質が著しく粗悪である場合。<br>
          ダウンロード不可能 - 技術的な不具合により購入された商品をダウンロードできない場合。<br>
          一時的なサーバーエラー、回線のエラー等により、重複購入等正常でない決済が行われた場合。<br>
          返金を希望される場合は、お問い合わせフォームより必要事項を記入し、送信してください。<br>
          <br>
          ◼返金非対象<br>
          心変わりによるものや、商品に興味が無くなった場合。<br>
          ダウンロード後に商品が必要なくなった場合。<br>
          間違って商品を購入した場合。<br>
          期待していた商品と異なる場合。<br>
          商品に対する専門知識がなく返金を希望する場合。<br>
          単純に商品を返品したい場合。<br>
          商品が削除され、商品へアクセスできなくなった場合。<br>
          <br>
          ◼返金方法<br>
          返金は、購入時に使用されたカード会社を通して返金処理を行います。<br>
          返金の期日はカード会社の規定に準じます。
        </td>
      </tr>
    </table>
  </div>
</section>
{% render 'breadcrumbs' %}